.request {
    /* margin-top: 50px; */
}

.request-title {
    margin-bottom: 30px;
}

.ant-input {
    width: 70%;
}

.ant-col-4 {
    flex: 0 0 20%;
    max-width: 20%;
}
.ant-form {
    width: 100%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 20px 20px 100px 20px;
    margin-bottom: 30px;
    position: relative;
}

.button-box {
    position: absolute;
    bottom: 40px;
    left: 154px;
}
.button-sendrequest {
    background-color: rgb(44, 81, 109);
    color: white;
   
}

.button-cancel {

    background-color: gray;
    color: white;
    margin-right: 20px  ;
   
}