
.group-container {
    margin-top: 40px;
}

.group-container .box-title {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: -30px;
}

.box-groupdetail p{
    margin: 0;
    padding: 5px 10px;
}

.box-groupdetail-name {
    margin-bottom: 20px;
    display: flex;
}

.box-groupdetail-name h5 {
    flex-basis: 140px;
    padding: 0 20px;
    border-radius: 5px;
    margin: 0;
    vertical-align: middle;
}

.box-groupdetail-name div {
    flex-basis: 20%;
    border-radius: 5px;
    border: 1px solid gray;
}
.box-groupdetail-name div p span {
    font-size: 16px;
}

.box-groupdetail-name div p .name-group{
    font-size: 15px;
    font-weight: 500;
}

.box-groupdetail-member {
    margin-bottom: 20px;
    display: flex;
}

.box-groupdetail-member h5 {
    border-radius: 5px;

    flex-basis: 140px;
    padding: 20px;
}

.box-groupdetail-member p {
    background-color: gray;
    display: inline-block;
    border-radius: 5px;
}

.box-groupdetail-member div {
    flex-basis: 40%;
    height: 200px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.box-groupdetail .item-user-detail {
    margin-right: 10px;
    margin-bottom: 10px;
}

.box-groupdetail .item-user-detail:hover {
    cursor: pointer;
    color: wheat;
}

.form-item {
    height: 50px;
    margin-left: 0%;
}

.btn-bottom-gr {
    margin-top: 50px;
    margin-bottom: 0;
}
