.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: none;
}

a {
    text-decoration: none;
}
/* logo css */
.box-logo img{
    margin-top: 5px;
    width: 60px;
    height: 50px;
    margin-left: 20px;
}