.container-create-group {
    margin-top: 40px;
}

.ant-form {
    padding-top: 0px;
}

h3 {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 20px;
}

.btn-bottom {
    display: flex;
    width: 88%;
    justify-content: flex-end;
}

.ant-form {
    padding: 20px 20px 30px 20px !important;
}

@media only screen and (max-width: 700px) {
    .btn-bottom {
        width: 85%;
    }
}