
.header-staff {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
}

.header-staff h2 {
    color: rgb(119, 110, 99);
    /* padding-left: 60px; */
    margin: 20px 0;
}

.header-staff-nav a {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: rgb(92, 85, 85);
}

.header-staff-nav a:hover {
    color: rgb(59, 19, 218);
}

.table-myrequest {
    text-align: center;
    vertical-align: middle;
    margin: 40px 20px;
}

.table-title {
    background-color:#7287b0;
}
.table-action {
    display: table-cell;
}
.table-myrequest tr:nth-child(even) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);}

.col-index{
    width: 30px;
}

.button-viewdetail {
    padding: 3px 15px;
    background-color: rgb(37, 147, 68);
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

td a {
    color: rgb(245, 237, 232);
    margin-left: 3px;
}
td a .svg-inline--fa{
    color: rgb(11, 74, 151);
    font-size: 30px;
}

.box-filter {
    margin: 20px;
}

.box-filter button {
    margin: 20px 20px 20px 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid gray;
    color: rgb(102, 101, 101);
    
}
.anticon svg {
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .display-none {
    display: none;
  }
  .display-block {
    display: block;
  }
.box-filter button:hover {
    
    color: rgb(228, 219, 219);
    background-color: rgb(114, 138, 137);
}
/* .icon-approve {
    color: olivedrab;
} */
@media screen and (max-width: 768px) {
    .header-staff {
        display: block;
    }
}