.link-btn {
    display: contents;
}

.text-size {
    font-size: 18px;
    font-weight: 600;
}

.text-size-m {
    font-size: 16px;
}

.item-data-m {
    padding: 12px !important;
}

.item-top {
    margin: 30px 0 20px 0;
    color: rgb(119, 110, 99);
}

.content-btn {
    padding-top: 40px;
}

.header-group {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.user-group {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
    border: 0.2px solid rgb(132, 132, 132);

    &:hover {
        cursor: pointer;
        border: 1px solid rgb(104, 0, 0);

    }
}

@media only screen and (max-width: 470px) {
    .container {
        padding: 0 !important;
        // margin: 0 !important;
    }
}