.box-action-detail {
    display: flex;
    align-items: center;
    justify-content: start;
}
.item-action-detail {
    padding-top: 20px;
    padding-right: 10px;
}

.layout-detaildayoff {
    padding-left: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 40% 60%;
}

.layout-detaildayoff h4 {
    margin-top: 20px;

}

.detail-dayoff table tr th {
    display: flex;
    padding: 20px 10px;
}

tr:nth-child(even) {
    background-color: none;
}

.action-revert {
    border: none;
    margin: 30px 0 ;
}

.box-action span {
    font-size: 15px;
    background: rgb(11, 74, 151);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

/* histories */
.histories {
    border-left: solid 1px #8989e1;
    padding-left: 20px;
    overflow: scroll;
}

.box-histories h6 {
    border-left: 5px solid #8989e1;
    padding: 5px 15px;
    color: #8989e1;
}

 h6 ~ p{
    font-size: 18px;
}

.box-histories p {
    color: gray;
    padding: 2px 20px;
    line-height: 15px;
}

.history-request {
    line-height: 5px;
}
.box-request {
    display: flex;
    align-items: center;
}