.container-register {
    width: 100%;
    height: 100vh;

    .main-register {
        padding: 40px 12%;
    }

    .form-group {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
        background-color: white;
        padding: 30px 7%;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.form-name {
    width: 100%;

}

.form-lable {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}

.color-err {
    color: red;
}

.content-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.content-btn-left {
    justify-content: start !important;
    padding-top: 0 !important;
}

.btn {
    border: none;
    margin-left: 10px;
}

.text-create-user {
    width: 100%;
    font-size: 38px;
    margin-bottom: 45px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.input-name {
    border: none;
    width: 100% !important;
    outline: none !important;
    border-radius: 0;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.4);
    font-size: 14px;
    outline: 0 none !important;
    background: whitesmoke;

}

.input-name:focus {
    outline: 0 none !important;
    background: #f7f7f7;
}

.text-color-red {
    color: red;
}

.item-data {
    padding: 20px 0 10px 10px !important;
}


@media only screen and (max-width: 1024px) {
    .container-register .main-register {
        padding: 40px 10%;
    }
}

@media only screen and (max-width: 700px) {
    .container-register .main-register {
        padding: 40px 5%;
    }
}