
.container-register {
    width: 100%;
    height: 100vh;
    // background-image: linear-gradient(170deg, #b86bd6 , #53e3a6);
    background-color:  rgb(69, 103, 188);
    
    .main-register{
        padding: 40px 20%;
    }
    
    .form-group{
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.3);
        background-color: whitesmoke;
        padding: 50px 20%;
        border: 2px #d3a9a9 solid;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.form-name {
    padding-bottom: 0;
    width: 100%;

}

.form-lable {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 18px;
}

.color-err{ 
    color: red;
}

.content-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.btn {
    width: 20%;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.text-create-user {
    width: 100%;
    color: #53e3a6;
    font-size: 40px;
    margin-bottom: 60px;
}