.container-detail {
    margin-top: 40px;
}

.content-detail {
    margin: 0 20px;
}

.view-detail {
    font-size: 18px;
    padding: 20px 0;
}

.title-text {
    margin: 0;
    padding: 20px 0;
}

.infor-user {
    padding: 5px 0;
}

.col-2 {}